.mainsection {
    display: flex;
    position: absolute;
    top: 10%;
    left: 18%;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1;
}

.header .section {
    display: flex;
    position: relative;
    max-height: 65px;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.logoside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger span {
    color: gray;
}

.thelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.insidelogo {
    overflow: hidden;
    padding-left: 17px;
    padding-right: 17px;
    width: auto;
}

.loginside {
    display: flex;
    align-items: center;
    justify-content: center
}

.loginside:hover {
    cursor: pointer;
}

.welcome .blockname {
    color: #964D22;
    font-weight: 600;
}

.photo {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.insidephoto {
    overflow: hidden;
    width: auto;
}

.borderimg {
    border-radius: 20px;
}

/* SIDEMENU */
.sidemenu {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    background-color: white;
    width: 15vw;
    height: 100vh;
    z-index: 2;
}

.menusection {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
}

.menulogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 150px;
    max-width: 150px;
}

/* .allmenu {
    display: flex;
    flex-direction: column;
} */

.listmenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.active {
    color: #964D22;
}

.tableStyle {
    background-color: #964D22 !important;
    color: whitesmoke !important;
    font-weight: bolder !important;
}

@media only screen and (max-width: 567px) {
    .hidden, .hidewelcome {
        display: none;
    }
}